<p>studenti works!</p>

<div>
  <input [(ngModel)] = "filter_ime_prezime" type="checkbox"> Filter by <span style="font-weight: bold">Ime / prezime</span> <br>
  <input [(ngModel)]="ime_prezime" [disabled]="!filter_ime_prezime"><br>
  <hr>

  <input [(ngModel)] = "filter_opstina" type="checkbox"> Filter by <span style="font-weight: bold">Opština rođenja</span> <br>
  <input [(ngModel)]="opstina" [disabled]="!filter_opstina"><br>
  <hr>
</div>
<table class="table table-warning">
  <tr>
    <th>ID</th>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Broj indeksa</th>
    <th>Drzava rođenja</th>
    <th>Opstina rođenja</th>
    <th>Datum dodavanja</th>
    <th>Profilna slika</th>
    <th>Akcija</th>
  </tr>
  <tbody>
  <tr *ngFor="let s of get_podaci_filtrirano()">
    <td>{{s.id}}</td>
    <td>{{s.ime}}</td>
    <td>{{s.prezime}}</td>
    <td>{{s.brojIndeksa}}</td>
    <td>{{s.opstina_rodjenja!=null?s.opstina_rodjenja.drzava.naziv:""}}</td>
    <td>{{s.opstina_rodjenja!=null?s.opstina_rodjenja.description:""}}</td>
    <td>{{s.datum_rodjenja}}</td>
    <td><img class="profilna-slika" src="{{s.slika_korisnika}}"></td>
    <td>
      <button >Obrisi</button>
      <button (click)="odabranistudent=s">Uredi</button>
      <button (click)="otvori_maticnuknjigu(s)">Maticna knjiga</button>
    </td>
  </tr>
  </tbody>
</table>

<button class="form-label" (click)="novi_student_dugme()">Novi student</button>


<div *ngIf="odabranistudent!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel">Novi semestar za </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="odabranistudent=null"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Ime</label>
          <input class="form-control" placeholder="Ime" [(ngModel)]="odabranistudent.ime">
        </div>
        <div class="mb-3">
          <label class="form-label">Prezime</label>
          <input class="form-control" placeholder="Prezime" [(ngModel)]="odabranistudent.prezime"/>
        </div>

        <div class="mb-3">
          <label class="form-label">Opstina rodjenja</label>
          <select class="form-control" [(ngModel)]="odabranistudent.opstina_rodjenja_id">
            <option *ngFor="let x of opstinePodaci" [value]="x.id">{{x.opis}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="odabranistudent=null">Close</button>
        <button type="button" class="btn btn-primary"  >Save changes</button>
      </div>
    </div>
  </div>
</div>
