
<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Opis</th>
    <th>Skracenica</th>
  </tr>
  </thead>
  <tr *ngFor="let x of getpodaci()">
    <td>{{x.id}}</td>
    <td>{{x.opis}}</td>
    <td>{{x.skrecenica}}</td>
    <td><img style="width: 30px" src="{{x.slika_studenta}}"></td>
    <td><button (click)="odabrana_drzava=x">Edit</button></td>
  </tr>
</table>


<div *ngIf="odabrana_drzava != null">
  <label>Naziv</label>
  <input [(ngModel)]="odabrana_drzava.opis">

  <label>Skracenica</label>
  <input [(ngModel)]="odabrana_drzava.skrecenica">
  <button (click)="snimi()">Snimi</button>
</div>
