<p>student-maticnaknjiga works!</p>

<div *ngIf="podaci != null">

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Student ID</label>
    <div class="col-sm-4">
      <input  disabled class="form-control" [value]="studentid">
    </div>
  </div>

  <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Student ime</label>
        <div class="col-sm-4">
      <input class="form-control" [value]="podaci.ime">
    </div>
  </div>

  <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Student prezime</label>
        <div class="col-sm-4">
      <input class="form-control"  [value]="podaci.prezime" >
    </div>
  </div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Ak godina</th>
    <th>Godina</th>
    <th>Obnova</th>
    <th>Zimski semestar<br>
      <input value="Upis" disabled> |
      <input value="Ovjera" disabled>
    </th>
    <th>Evidentirao</th>
    <th>Akcija</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let x of this.podaci.listaUpisi">
    <td>{{x.id}}</td>
    <td>{{x.akademska_godina_opis}}</td>
      <td>{{x.godinastudina}}</td>
    <td>{{x.jelObnova?"DA":"NE"}}</td>
    <td>
      <input [value]="x.datumUpisZimski" disabled> |
      <input [value]="x.datumOvjeraZimski" disabled>
    </td>

    <td>{{x.evidentirao_korisnik}}</td>
    <td>
      <a class="btn btn-link">Ovjeri zimski semestar </a> <br>

    </td>
  </tr>
  </tbody>
</table>

<button class="form-label" >Upis u zimski semestar</button>
</div>

