<p>student-maticnaknjiga works!</p>

<div>

  <div class="mb-3 row">
    <label class="col-sm-2 col-form-label">Student ID</label>
    <div class="col-sm-4">
      <input  disabled class="form-control" [value]="studentid">
    </div>
  </div>

  <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Student ime</label>
        <div class="col-sm-4">
      <input class="form-control" >
    </div>
  </div>

  <div class="mb-3 row">
      <label class="col-sm-2 col-form-label">Student prezime</label>
        <div class="col-sm-4">
      <input class="form-control" >
    </div>
  </div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Ak godina</th>
    <th>Godina</th>
    <th>Obnova</th>
    <th>Zimski semestar<br>
      <input value="Upis" disabled> |
      <input value="Ovjera" disabled>
    </th>
    <th>Evidentirao</th>
    <th>Akcija</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <input> |
      <input>
    </td>

    <td></td>
    <td>
      <a class="btn btn-link">Ovjeri zimski semestar </a> <br>

    </td>
  </tr>
  </tbody>
</table>

<button class="form-label" >Upis u zimski semestar</button>
</div>


